/files/uploads/avatars/7c2a23b82c9d306c4574a31ab5809959.jpg
/files/cover/402bdb81-c298-4582-b208-543920fb8b08.jpg
/files/cover/772e7d76f520f566546ffb6feb6e6a0d.jpg
/files/cover/798ef76997a12d748b0f3abebd109cfb.jpg
/files/cover/8069bb2b2d6ed9edbeb8ee3842693a53.jpg
/files/cover/031899fab3727cff261714e3259740e5.jpg
/files/uploads/avatars/031899fab3727cff261714e3259740e5.jpg
/files/uploads/avatars/1761644480872_9856fc6d73662a59de16aa1817899a40.jpg
/files/uploads/avatars/1761652302060_%E5%A4%B4%E5%83%8F.jpg
/files/uploads/avatars/1761652337656_9856fc6d73662a59de16aa1817899a40.jpg
/files/uploads/avatars/1761652372192_%E9%A6%96%E9%A1%B54-%E9%80%89%E4%B8%AD.png
/files/uploads/avatars/1761652441986_%E9%A6%96%E9%A1%B54-%E9%80%89%E4%B8%AD.png
/files/uploads/avatars/1761652725136_%E5%A4%B4%E5%83%8F.jpg
/files/uploads/avatars/1761652793187_%E5%A4%B4%E5%83%8F.jpg
/files/uploads/avatars/1761652919367_%E5%A4%B4%E5%83%8F.jpg
/files/uploads/avatars/1761652937317_头像.jpg
/files/uploads/avatars/1761655898492_9856fc6d73662a59de16aa1817899a40.jpg
/files/uploads/avatars/1761662989316_头像.jpg
/files/uploads/avatars/1761663009519_头像.jpg
/files/uploads/avatars/1761663032188_头像.jpg
/files/uploads/avatars/1761811990252_9856fc6d73662a59de16aa1817899a40.jpg
/files/uploads/avatars/1762064819176_微信图片_20251027180217_18_51.png
/files/uploads/avatars/1762064839575_9856fc6d73662a59de16aa1817899a40.jpg
/files/uploads/covers/1762408080509_031899fab3727cff261714e3259740e5.jpg
/files/uploads/covers/1762408174814_8069bb2b2d6ed9edbeb8ee3842693a53.jpg
/sonic-shelf-client/public/icons/sidebar/add.svg
/files/songs/Alec Benjamin - If We Have Each Other.flac
/SonicShelf规划/API规划/API接口规划-多类型收藏功能.md
/SonicShelf规划/API规划/API接口规划-搜索与上传.md
/SonicShelf规划/API规划/API接口规划-收藏歌单功能.md
/SonicShelf规划/API规划/API接口规划-收藏歌单功能-detail.md
/SonicShelf规划/API规划/API接口规划-概述.md
/SonicShelf规划/API规划/API接口规划-综合版.md
/SonicShelf规划/API规划/API接口规划-认证与用户.md
/SonicShelf规划/API规划/API接口规划-评论与社交.md
/SonicShelf规划/API规划/API接口规划-音乐与歌单.md
/SonicShelf规划/API规划/API接口规划-音乐播放功能.md
/files/songs/Au／Ra,Alan Walker - Ghost.mp3
/sonic-shelf-client/public/images/default/avatar.jpg
/files/uploads/avatars/bcc3adfc752ad9dce7dd47042c0c5b33.jpg
/files/uploads/avatars/c2925e0ab15014ca1ecbfd66cabc7ab6.jpg
/files/uploads/avatars/cd2ba21555cf5f255c047c0794ee50b2.jpg
/sonic-shelf-client/public/icons/status/close.svg
/sonic-shelf-client/public/icons/view/close.svg
/sonic-shelf-client/public/icons/player/comment.svg
/sonic-shelf-client/public/images/default/cover.png
/sonic-shelf-client/public/icons/status/delete.svg
/sonic-shelf-client/public/icons/status/down.svg
/sonic-shelf-client/public/icons/view/down.svg
/sonic-shelf-client/public/icons/player/download.svg
/files/songs/Ed Sheeran - Galway Girl.mp3
/sonic-shelf-client/public/icons/actions/edit.svg
/files/uploads/avatars/f12f1d199ab7aed9e7fbc34722b6f644.jpg
/files/cover/f25ab39ce3e3c78bb592fae1cade3c67.jpg
/sonic-shelf-client/public/icons/player/favorite.svg
/files/cover/fbc722c062e9baec3663e84d78590ff6.jpg
/sonic-shelf-client/public/icons/status/follow.svg
/sonic-shelf-client/public/icons/view/full.svg
/sonic-shelf-client/public/icons/view/grid.svg
/sonic-shelf-client/public/icons/content/headphone.svg
/sonic-shelf-client/public/icons/sidebar/home.png
/sonic-shelf-client/public/icons/sidebar/home-b.png
/files/songs/Justin Bieber - Ghost.mp3
/files/songs/Justin Bieber - Love Yourself.mp3
/sonic-shelf-client/public/icons/player/last.svg
/sonic-shelf-client/public/icons/ui/last.svg
/sonic-shelf-client/public/icons/status/left.svg
/sonic-shelf-client/public/icons/player/like.svg
/sonic-shelf-client/public/icons/status/like.svg
/sonic-shelf-client/public/logo.svg
/sonic-shelf-client/public/icons/status/men.svg
/sonic-shelf-client/public/icons/status/more.svg
/files/uploads/avatars/music.jpg
/sonic-shelf-client/public/images/default/music.jpg
/sonic-shelf-client/public/icons/player/mute.svg
/sonic-shelf-client/public/icons/player/next.svg
/sonic-shelf-client/public/icons/ui/next.svg
/sonic-shelf-client/public/icons/status/nextPlay.svg
/sonic-shelf-client/public/logos/old.png
/sonic-shelf-client/public/icons/player/order.svg
