// 引入所有样式文件
@use 'reset';

/* 全局基础样式 */
body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: #333;
  background-color: #f5f5f5;
}

#app {
  min-height: 100vh;
}

input {
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
}