// 引入所有样式文件
@use 'reset';

/* 全局基础样式 */
body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: #333;
  background-color: #f5f5f5;
  scroll-behavior: smooth;
  width: 100%;
  min-width: 1060px;
  overflow-y: hidden;
}

#app {
  min-height: 100vh;
}

input {
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
}

a {
  /* 移除移动端点击高亮 */
  -webkit-tap-highlight-color: transparent;

  outline: none;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* 隐藏滚动条按钮 */
::-webkit-scrollbar-button {
  display: none;
}

/* 确保滚动条背景透明，并设置更细的宽度 */
::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;  /* 水平滚动条宽度 */
  height: 6px; /* 垂直滚动条高度 */
}

/* 基础滚动条样式，设置更细的尺寸和完全圆形的圆角 */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px; /* 圆头设计，值为宽度的一半 */
}

/* 鼠标悬停时的滚动条样式 */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
