/* 颜色变量 */
$primary-color: #f83c48;
$secondary-color: #f0f3f6;
$success-color: #28a745;
$danger-color: #dc3545;

$sidebar-color: #f0f3f6;
$player-color: #fafafa;

$item-hover: #e4e8ec;

/* 字体变量 */
$font-family-base: 'Arial', sans-serif;
$font-size-base: 14px;

$radius: 10px;

