<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongxin.sonicshelf.mapper.AlbumMapper">

    <select id="selectAlbumsById" resultType="com.zhongxin.sonicshelf.dto.response.AlbumInfoResponse">
        select am.id,
               am.title,
               am.cover_image,
               am.music_count,
               am.release_date,
               am.description,
               a.id          as artist_id,
               a.name        as artist_name,
               a.cover_image as artist_cover
        from albums as am
                 join artists as a on am.artist_id = a.id
        where am.id = #{id}
    </select>
    <select id="selectAlbumByIds" resultType="com.zhongxin.sonicshelf.dto.response.AlbumInfoResponse">
        select am.id,
        am.title,
        am.cover_image,
        am.music_count,
        am.release_date,
        am.description,
        a.id as artist_id,
        a.name as artist_name,
        a.cover_image as artist_cover
        from albums as am
        join artists as a on am.artist_id = a.id
        where am.id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="selectAlbums" resultType="com.zhongxin.sonicshelf.dto.response.AlbumManageResponse">
        select am.id,
        am.title,
        am.artist_id,
        a.name as artist_name,
        am.release_date,
        am.description,
        am.cover_image,
        am.music_count,
        am.created_at,
        am.updated_at
        from albums as am
        join artists as a on am.artist_id = a.id
        <where>
            <if test="artistId != null">
                a.id = #{artistId}
            </if>
            <if test="keyword != null and keyword != ''">
                and am.title like concat('%', #{keyword}, '%')
            </if>
        </where>
        # String keyword, Long artistId
    </select>
    <select id="selectAlbumManageResponseById" resultType="com.zhongxin.sonicshelf.dto.response.AlbumManageResponse">
        select am.id,
               am.title,
               am.artist_id,
               a.name as artist_name,
               am.release_date,
               am.description,
               am.cover_image,
               am.music_count,
               am.created_at,
               am.updated_at
        from albums as am
                 join artists as a on am.artist_id = a.id
        where am.id = #{id}
    </select>
    <select id="selectAlbumsByKeyword" resultType="com.zhongxin.sonicshelf.dto.response.AlbumInfoResponse">
        select am.id,
               am.title,
               am.artist_id,
               a.name as artist_name,
               am.release_date,
               am.cover_image,
               am.music_count
        from albums as am
                 join artists as a on am.artist_id = a.id
        where am.title like concat('%', #{keyword}, '%')
           or a.name like concat('%', #{keyword}, '%')
           OR EXISTS (SELECT 1
                      FROM musics as m
                      WHERE m.album_id = am.id
                        AND m.title LIKE CONCAT('%', #{keyword}, '%'))
    </select>
</mapper>