<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongxin.sonicshelf.mapper.ArtistMapper">

    <select id="selectArtists" resultType="com.zhongxin.sonicshelf.dto.response.ArtistManageResponse">
        select id, name, country,gender, description, cover_image, music_count, created_at
        from artists
        <where>
            <if test="gender != null">
                and gender = #{gender}
            </if>
            <if test="keyword != null and keyword != ''">
                and name like concat('%', #{keyword}, '%')
            </if>
        </where>
    </select>

    <select id="selectArtistsByKeyword" resultType="com.zhongxin.sonicshelf.dto.response.ArtistResponse">
        SELECT a.id,
               a.name,
               a.cover_image,
               a.music_count
        FROM artists as a
        WHERE a.name like concat('%', #{keyword}, '%')
           OR a.translated_name like concat('%', #{keyword}, '%')
           OR EXISTS (SELECT 1
                      FROM musics as m
                      WHERE m.artist_id = a.id
                        AND m.title like concat('%', #{keyword}, '%'))
    </select>

<!--    SELECT distinct a.id,-->
<!--    a.name,-->
<!--    a.cover_image,-->
<!--    a.music_count-->
<!--    FROM artists as a-->
<!--    LEFT JOIN musics as m on a.id = m.artist_id-->
<!--    WHERE a.name like concat('%', #{keyword}, '%')-->
<!--    OR m.title like concat('%', #{keyword}, '%')-->
<!--    GROUP BY a.id, a.name, a.cover_image, a.music_count-->
</mapper>