<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongxin.sonicshelf.mapper.MusicMapper">

    <resultMap id="MusicResponse" type="com.zhongxin.sonicshelf.dto.response.MusicResponse">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="cover_image" property="coverImage"/>
        <result column="artist_name" property="artistName"/>
        <result column="album_title" property="albumTitle"/>
        <result column="file_url" property="fileUrl"/>
        <result column="duration" property="duration"/>
        <result column="is_favorite" property="isFavorite"/>
    </resultMap>

    <select id="findAsPageByListId" resultMap="MusicResponse">
        SELECT m.id,
               m.title,
               m.cover_image,
               a.name   as artist_name,
               am.title as album_title,
               m.file_url,
               m.duration,
               CASE WHEN f.id IS NOT NULL THEN 1 ELSE 0 END as is_favorite
        FROM musics m
                 LEFT JOIN playlist_musics pm ON pm.music_id = m.id
                 LEFT JOIN playlists p ON p.id = pm.playlist_id
                 LEFT JOIN artists a ON m.artist_id = a.id
                 LEFT JOIN albums am ON am.id = m.album_id
                 LEFT JOIN favorites f ON f.target_id = m.id
            AND f.user_id = #{userId}
            AND f.target_type = 'music'
        WHERE p.id = #{id}
    </select>


    <select id="findById" resultMap="MusicResponse">
        SELECT m.id,
               m.title,
               m.cover_image,
               a.name   as artist_name,
               am.title as album_title,
               m.file_url,
               m.duration,
               CASE WHEN f.id IS NOT NULL THEN 1 ELSE 0 END as isFavorite # 1已收藏0未收藏
        FROM musics m
                 LEFT JOIN artists a ON m.artist_id = a.id
                 LEFT JOIN albums am ON am.id = m.album_id
                 LEFT JOIN favorites f ON f.target_id = m.id
            AND f.user_id = #{userId}
            AND f.target_type = 'music'
        WHERE m.id = #{id}
    </select>

</mapper>