<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongxin.sonicshelf.mapper.PlaylistMapper">

    <resultMap id="PlaylistsResponseMap" type="com.zhongxin.sonicshelf.dto.response.PlaylistsResponse">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="cover_image" property="coverImage"/>
        <result column="user_id" property="userId"/>
        <result column="nickname" property="nickname"/>
        <result column="music_count" property="musicCount"/>
        <result column="play_count" property="playCount"/>
        <result column="user_avatar" property="userAvatar"/>
        <result column="created_at" property="createTime"/>
        <result column="play_count" property="playCount"/>
    </resultMap>

    <select id="selectByUserId" resultMap="PlaylistsResponseMap">
        SELECT p.id,
               p.title,
               p.description,
               p.cover_image,
               u.nickname as nickname,
               p.user_id,
               p.music_count,
               p.play_count,
               p.created_at,
               u.avatar   as user_avatar,
               p.play_count
        FROM playlists p
                 LEFT JOIN users u ON p.user_id = u.id
        WHERE p.user_id = #{id}
    </select>

    <select id="findByPlaylistId" resultMap="PlaylistsResponseMap">
        SELECT p.id,
               p.title,
               p.description,
               p.cover_image,
               u.nickname as nickname,
               p.user_id,
               p.music_count,
               p.play_count,
               p.created_at,
               u.avatar   as user_avatar,
               p.play_count
        FROM playlists p
                 LEFT JOIN users u ON p.user_id = u.id
        WHERE p.id = #{id}
    </select>
    <select id="selectFavoriteByUserId" resultMap="PlaylistsResponseMap">
        SELECT DISTINCT p.id,
                        p.title,
                        p.description,
                        p.cover_image,
                        u.nickname as user_name,
                        p.music_count,
                        p.play_count,
                        p.created_at,
                        u.avatar   as user_avatar
        FROM favorites f
                 INNER JOIN playlists p ON f.target_id = p.id AND f.target_type = 'playlist'
                 LEFT JOIN users u ON p.user_id = u.id
        WHERE f.user_id = #{userId}
    </select>
    <select id="selectAll" resultType="com.zhongxin.sonicshelf.dto.response.PlaylistCardResponse">
        select id,title,cover_image as coverImage,play_count as play_count from playlists
        <if test="limit != null and limit > 0">
            limit #{limit}
        </if>
    </select>
    <select id="selectByPlaylistId" resultType="java.lang.String">
        SELECT m.title
        FROM musics m
                 INNER JOIN playlist_musics pm ON m.id = pm.music_id
        WHERE pm.playlist_id = #{i}
        LIMIT 3
    </select>
    <select id="selectPlaylist" resultType="com.zhongxin.sonicshelf.dto.response.PlaylistManageResponse">
        SELECT p.id,
        p.title,
        u.nickname as user_nickname,
        p.description,
        p.music_count,
        p.play_count,
        p.is_public,
        p.cover_image,
        p.created_at
        FROM playlists p
        LEFT JOIN users u ON p.user_id = u.id
        <where>
            <if test="isPublic != null">
                p.is_public = #{isPublic}
            </if>
            <if test="keyword != null and keyword != ''">
                and (p.title like concat('%', #{keyword}, '%')
                or p.description like concat('%', #{keyword}, '%') )
            </if>
            <if test="categoryIds != null and categoryIds != '' and categoryIds.length > 0">
                AND EXISTS (
                SELECT 1 FROM playlist_categories pc
                WHERE pc.playlist_id = p.id AND pc.category_id in
                <foreach collection="categoryIds" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
                )
            </if>
        </where>
    </select>

</mapper>