<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongxin.sonicshelf.mapper.UserMapper">

    <select id="selectUsersAsPage" resultType="com.zhongxin.sonicshelf.dto.response.UserManageResponse">
        select id, username, email, nickname, status, created_at, last_login_at
        from users
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="keyword != null and keyword != ''">
                and (username like concat('%', #{keyword}, '%')
                or email like concat('%', #{keyword}, '%')
                or nickname like concat('%', #{keyword}, '%'))
            </if>
        </where>
    </select>
    <select id="selectUsersByKeyword" resultType="com.zhongxin.sonicshelf.dto.response.CollectorResponse">
        select id,
               bio,
               nickname,
               avatar,
               gender
        from users
        where username like concat('%', #{keyword}, '%')
           or nickname like concat('%', #{keyword}, '%')
    </select>
</mapper>